<footer class="container-fluid bg-light">
			<div class="row">
				<div class="col">le texte de ma colonne 1</div>
				<div class="col">le texte de ma colonne 2</div>
				<div class="col">le texte de ma colonne 3</div>
			</div>
            <div class="row">
			    <div class="text-center"> made with &hearts; by M2I</div>
            </div>
</footer>