<footer class="container-fluid py-5 bg-dark">
    <div class="container">
	<p class="m-0 text-center text-white">Copyright &copy;2022 M2i-Shop </p>
	<i class="m-0 text-center text-white">made with &hearts; by M2I</i>
	</div>
</footer>