{% extends '_layouts/admin.html.twig'%}

{% block title %} Edit {% endblock %}
{% block h1 %} Edit order{% endblock %}
{% block body %}
	<div class="container">
		<div class="pt-5 mb-5">
            <h3>modifier la commande</h3>
            <hr>
        </div>
        {{form_start(formEdit)}}
        <div class=" mb-3">
            {{form_row(formEdit.reference)}}
        </div>
        <div class=" mb-3">
            {{form_row(formEdit.user)}}
        </div>
        <button type="submit" class="my-3 col btn btn-primary">OK</button>
        {{form_end(formEdit)}}
	</div>
{% endblock %}
