{% extends '_layouts/admin.html.twig'%}

{% block title %} Add {% endblock %}
{% block h1 %} Add category{% endblock %}
{% block body %}
	<div class="container">
		<div class="pt-5 mb-5">
            <h3>Ajouter une categorie</h3>
            <hr>
        </div>
        {{form_start(addForm)}}
        <div class=" mb-3">
            {{form_row(addForm.name)}}
        </div> 
        <div class=" mb-3">
            {{form_row(addForm.parent)}}
        </div>
        <button type="submit" class="my-3 col btn btn-primary">OK</button>
        {{form_end(addForm)}}
	</div>
{% endblock %}